{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1 class="title-text">О RJKZAVRS STUDIO</h1>
</div>
<div align="center">
    <p class="diary-text">Немного информации о нашей студии</p>
    <br><br><br>
    <p class="diary-text">Rjkzavr's Studio (ранее N2GAME) небольшая студия с двумя разработчиками,
    которых мотивируют общие интересы. Мы занимаемся разработкой приложений/игр/сайтов</p>
    <br>
    <p class="diary-text">Проекты: <br>
    - Платформер головоломка<br>
    - Wameg - двухмерная игра от третьего лица<br>
    - Симулятор баллистики<br>
    - Фотошоп<br>
    - Наш главный сайт (этот)<br></p>
    <br><br>
    <p> Для того, что бы связаться - пишите на почты: nikniksham@gmail.com или kolya.toropof@gmail.com</p>
</div>
{% endblock %}