{% extends "base.html" %}

{% block content %}
<h1>Управление пользователями</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.nickname.label }}<br>
        {{ form.nickname(class="form-control") }}<br>
        {% for error in form.nickname.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.id.label }}<br>
        {{ form.id(class="form-control") }}<br>
        {% for error in form.id.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
<div>
    <h2>Пользователи</h2>
    {% for user in users %}
    <div class="block-comment">
        <div>
            <p class="diary-text">{{user.nickname}}</p>
        </div>
        <div class="navbar">
            <div>
                <p class="diary-text">Статус: {{user.status}}</p>
            </div>
            <div class="diary-right-title">
                {% if user.status < current_user.status and current_user.id != user.id %}
                <a href="/admin_change/up/{{ user.id }}" class="btn btn-success diary-text">Повысить</a>
                {% else %}
                <button type="button" class="btn btn-success diary-text" disabled>Повысить</button>
                {% endif %}
                {% if current_user.status >= user.status and user.status > 0 and current_user.id != user.id %}
                <a href="/admin_change/down/{{ user.id }}" class="btn btn-warning diary-text">Понизить</a>
                {% else %}
                <button type="button" class="btn btn-warning diary-text" disabled>Понизить</button>
                {% endif %}
                {% if user.status < current_user.status and current_user.status >= 3 and current_user.id != user.id %}
                <a href="/admin_change/delete/{{ user.id }}" class="btn btn-danger diary-text">Удалить</a>
                {% else %}
                <button type="button" class="btn btn-danger diary-text" disabled>Удалить</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
