{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1 class="title-text">Дневник разработчиков</h1>
</div>
<div>
    <div class="publication-block-header">
        <div class="right-column-block">
            <a href="/">
                <h1 class="title-text">Мы сделали иргу</h1>
                <h3 class="asd">В этой публикации очень много текста потому-что он полностью не влезет на заголовок.
                    Поэтому
                    вам
                    придётся
                    зайти чтобы дочитать. Много текста значит много. Много текста значит много. Много текста значит
                    много.
                    Много
                    текста значит много. Много текста значит много. Много текста значит много. Много текста значит
                    много.
                    Много
                    текста значит много. Много текста значит много. </h3>
            </a>
        </div>
    </div>
</div>
{% endblock %}