{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1 class="title-text">Сменить пароль {{user.nickname}}</h1>
</div>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.last_password.label }}<br>
        {{ form.last_password(class="form-control", type="password") }}<br>
        {% for error in form.last_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>
    <p>
        {{ form.first_password.label }}<br>
        {{ form.first_password(class="form-control", type="password") }}<br>
        {% for error in form.first_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>
    <p>
        {{ form.second_password.label }}<br>
        {{ form.second_password(class="form-control", type="password") }}<br>
        {% for error in form.second_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}