<div class="block-comments">
    <div class="title">
        <h1 class="title-text">Коментарии</h1>
    </div>
    {% if user.is_authenticated %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
        <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>
            {{ message }}
        </div>
    </form>
    {% endif %}
    <div class="block-count">
        <p class="diary-text">Коментариев: {{ count_commentaries }}</p>
    </div>
    {% for comment in comments %}
    <div class="block-comment">
        <div class="navbar">
            <div>
                <p class="diary-text">
                    Коментарий от: {{ comment.author.nickname }}
                </p>
            </div>
            <div>
                <a>
                    <p class="diary-text">
                        Время публикиции: {{ comment.formatted_date() }}
                    </p>
                </a>
            </div>
        </div>
        <div class="block-body-comment">
            <p class="diary-text">
                {{ comment.text }}
            </p>
        </div>
        <div class="navbar">
            <div class="left-down-bar">
                <a><h4 class="green-wide-text">Лайк {{ comment.good_marks }}</h4></a>
                <a><h4 class="red-wide-text">Дизлайк {{ comment.bad_marks }}</h4></a>
            </div>
            {% if user.is_authenticated and (comment.author_id == user.id or user.status >= 2) %}
            <div class="right-down-bar">
                <a href="/{{ base_href }}{{ comment.id }}" class="btn btn-warning diary-text">Редактировать</a>
                <a href="/delete_comment/{{ comment.id }}/{{ base_href }}" class="btn btn-danger diary-text">Удалить</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>