{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1 class="title-text">Вы действительно уверены то что хотите удалить профиль {{user.nickname}}?</h1>
</div>
<div class="navbar">
    <div class="left-down-bar">
        <h1></h1>
    </div>
    <div class="right-down-bar">
        <a href="/account/"><h2 class="green-wide-text">Нет, я не хочу</h2></a>
        <a href="/delete_user/"><h2 class="red-wide-text">Да, я хочу удалить аккаунт</h2></a>
    </div>
</div>
{% endblock %}