{% extends "base.html" %}

{% block content %}
<div align="center">
    <div>
        <h2>Записи из дневника разработчиков</h2>
    </div>
    {% for publication in ds_diary %}
    <div class="text">
        {% if status >= publication.availability_status%}
        <h2>Запись #{{publication.id}}</h2>
        {% endif %}
        {% if status >= 2 %}
        <div>
            <a href="/developers_diary_change/{{ publication.id }}" class="btn btn-warning">Изменить</a>
            <a href="/developers_diary_delete/{{ publication.id }}" class="btn btn-danger">Удалить</a>
        </div>
        <br>
        <br>
        {% endif %}
        {% if status >= publication.availability_status%}
        <div class="text">
            <table>
                <tr>
                    <td>
                        <h1>{{publication.header}}</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{publication.body}}</p>
                    </td>
                </tr>

            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}
</div>