{% extends "base.html" %}

{% block content %}
<h1>Создание Публикации</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.header.label }}<br>
        {{ form.header(class="form-control") }}<br>
        {% for error in form.header.errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body(class="form-control") }}<br>
        {% for error in form.body.errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}